SMTimelineEditor.xcodeproj/project.xcworkspace/xcuserdata/stephanmichels.xcuserdatad/UserInterfaceState.xcuserstate
SMTimelineEditor.xcodeproj/xcuserdata/stephanmichels.xcuserdatad/xcschemes/SMTimelineEditor.xcscheme
SMTimelineEditor.xcodeproj/xcuserdata/stephanmichels.xcuserdatad/xcschemes/xcschememanagement.plist
SMTimelineEditor.xcodeproj/project.xcworkspace/contents.xcworkspacedata
SMTimelineEditor.xcodeproj/xcuserdata/stephanmichels.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist